* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #2b2d31;
  color: white;
}

#enter {
  font-size: 36px;
  cursor: pointer;
  position: absolute;
  color: white;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.8s ease;
}

#main {
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

#bgvid {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.base {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 40px;
  z-index: 1;
}

.profile {
  position: relative;
  width: 250px;
  height: 335px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.profile:hover {
  transform: scale(1.05);
}

.image {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin-top: 20px;
}

.name {
  font-size: 24px;
  color: white;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 20px white, 0 0 30px white;
  transition: transform 0.3s ease, text-shadow 0.3s ease;
}

.name:hover {
  transform: scale(1.2);
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
}

.icons a {
  color: white;
  font-size: 20px;
  transition: transform 0.3s ease;
}

.icons a:hover {
  transform: scale(1.2);
}
